{
    "swagger": "2.0",
    "info": {
        "version": "v2.1",
        "title": "DocuSign REST API",
        "description": "The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.",
        "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
        "contact": {
            "name": "DocuSign Developer Center",
            "url": "https://developers.docusign.com/",
            "email": "devcenter@docusign.com"
        }
    },
    "host": "www.docusign.net",
    "basePath": "/restapi",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/json"
    ],
    "externalDocs": {
        "description": "See the DocuSign REST API Guide for more information.",
        "url": "https://docs.docusign.com/esign"
    },
    "paths": {
        "/service_information": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "Retrieves the available REST API versions.",
                "description": "Retrieves the available REST API versions.\n\nDocuSign Production system: https://www.docusign.net/restapi/service_information\nDocuSign Demo system: https://demo.docusign.net/restapi/service_information\n\nYou do not need an integrator key to view the REST API versions and resources.",
                "operationId": "ServiceInformation_GetServiceInformation",
                "consumes": [],
                "produces": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/serviceInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getService"
            },
            "parameters": []
        },
        "/v2.1": {
            "get": {
                "tags": [
                    "Diagnostics"
                ],
                "summary": "Lists resources for REST version specified",
                "description": "Retrieves the base resources available for the DocuSign REST APIs.\n\nYou do not need an integrator key to view the REST API versions and resources.\n\nExample: https://demo.docusign.net/restapi/v2 lists all of the base resources available in version 2 of the REST API on the DocuSign Demo system.\n\nTo view descriptions and samples of the service operations for all versions, remove the version number and add /help to the URL.\n\nExample: https://demo.docusign.net/restapi/help lists the REST API operations on the DocuSign Demo system with XML and JSON request and response samples.",
                "operationId": "ServiceInformation_GetResourceInformation",
                "consumes": [],
                "produces": [],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/resourceInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getResources"
            },
            "parameters": []
        },
        "/v2.1/accounts": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Creates new accounts.",
                "description": "Creates new DocuSign service accounts.\n\nThis is used to create multiple DocuSign accounts with one call. It uses the same information and formats as the normal a  [Accounts:create](accounts_create) call with the information included within a `newAccountRequests` element. A maximum of 100 new accounts can be created at one time.\n\nNote that the structure of the XML request is slightly different than the JSON request, in that the new account information is included in a `newAccountDefinition` property inside the `newAccountRequests` element.\nResponse\n\nThe response returns the new account ID, password and the default user information for each newly created account.\n\nA 201 code is returned if the call succeeded.  While the call may have succeed, some of the individual account requests may have failed. In the case of failures to create the account,  an `errorDetails` node is added in the response to each specific request that failed.",
                "operationId": "Accounts_PostAccounts",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "preview_billing_plan",
                        "in": "query",
                        "description": "When set to **true**, creates the account using a preview billing plan.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "newAccountDefinition",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/newAccountDefinition"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/newAccountSummary"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "create"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Retrieves the account information for the specified account.",
                "description": "Retrieves the account information for the specified account.\n\n**Response**\nThe `canUpgrade` property contains is a Boolean that indicates whether the account can be upgraded through the API. ",
                "operationId": "Accounts_GetAccount",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_account_settings",
                        "in": "query",
                        "description": "When set to **true**, includes the account settings for the account in the response.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/accountInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getAccountInformation"
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Deletes the specified account.",
                "description": "This closes the specified account. You must be an account admin to close your account. Once closed, an account must be reopened by DocuSign.",
                "operationId": "Accounts_DeleteAccount",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "redact_user_data",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "delete"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_charges": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Gets list of recurring and usage charges for the account.",
                "description": "Retrieves the list of recurring and usage charges for the account. This can be used to determine the charge structure and usage of charge plan items. \n\nPrivileges required: account administrator ",
                "operationId": "BillingCharges_GetAccountBillingCharges",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_charges",
                        "in": "query",
                        "description": "Specifies which billing charges to return.\nValid values are:\n\n* envelopes\n* seats\n",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingChargeResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBillingCharges"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_invoices": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get a List of Billing Invoices",
                "description": "Retrieves a list of invoices for the account. If the from date or to date queries are not specified, the response returns invoices for the last 365 days.\n\nPrivileges required: account administrator ",
                "operationId": "BillingInvoices_GetBillingInvoices",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "Specifies the date/time of the earliest invoice in the account to retrieve.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "Specifies the date/time of the latest invoice in the account to retrieve.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingInvoicesResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "listInvoices"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_invoices/{invoiceId}": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Retrieves a billing invoice.",
                "description": "Retrieves the specified invoice. \n\n###### Note: If the `pdfAvailable` property in the response is set to *true*, you can download a PDF version of the invoice. To download the PDF, make the call again and change the value of the `Accept` property in the header to `Accept: application/pdf`.\n\nPrivileges required: account administrator\n\nThe response returns a list of charges and information about the charges. Quantities are usually shown as 'unlimited' or an integer. Amounts are shown in the currency set for the account.\n\n**Response**\nThe following table provides a description of the different `chargeName` property values. The information will grow as more chargeable items are added to the system.\n\n| chargeName | Description |\n| --- | --- |\n| id_check | IDÂ Check Charge |\n| in_person_signing | In Person Signing charge |\n| envelopes Included | Sent Envelopes for the account |\n| age_verify | Age verification check |\n| ofac | OFAC Check |\n| id_confirm | ID confirmation check |\n| student_authentication | STAN PIN authentication check |\n| wet_sign_fax | Pages for returning signed documents by fax |\n| attachment_fax | Pages for returning attachments by fax |\n| phone_authentication | Phone authentication charge |\n| powerforms | PowerForm envelopes sent |\n| signer_payments | Payment processing charge |\n| outbound_fax | Send by fax charge |\n| bulk_recipient_envelopes | Bulk Recipient Envelopes sent |\n| sms_authentications | SMS authentication charge |\n| saml_authentications | SAML authentication charge |\n| express_signer_certificate | DocuSign Express Certificate charge |\n| personal_signer_certificate | Personal Signer Certificate charge |\n| safe_certificate | SAFE BioPharma Signer Certificate charge |\n| seats | Included active seats charge |\n| open_trust_certificate | OpenTrust Signer Certificate charge | ",
                "operationId": "BillingInvoices_GetBillingInvoice",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "invoiceId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingInvoice"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getInvoice"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_invoices_past_due": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get a list of past due invoices.",
                "description": "Returns a list past due invoices for the account and notes if payment can be made through the REST API. \n\nPrivileges Required: account administrator",
                "operationId": "BillingInvoices_GetBillingInvoicesPastDue",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingInvoicesSummary"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "listInvoicesPastDue"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_payments": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Gets payment information for one or more payments.",
                "description": "Retrieves a list containing information about one or more payments. If the from date or to date queries are not used, the response returns payment information for the last 365 days. \n\nPrivileges required: account administrator ",
                "operationId": "BillingPayments_GetPaymentList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "description": "Specifies the date/time of the earliest payment in the account to retrieve.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "description": "Specifies the date/time of the latest payment in the account to retrieve.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingPaymentsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "listPayments"
            },
            "post": {
                "tags": [
                    "Billing"
                ],
                "summary": "Posts a payment to a past due invoice.",
                "description": "Posts a payment to a past due invoice. \n\n###### Note: This can only be used if the `paymentAllowed` value for a past due invoice is true. This can be determined calling [ML:GetBillingInvoicesPastDue].\n\nThe response returns information for a single payment, if a payment ID was used in the endpoint, or a list of payments. If the from date or to date queries or payment ID are not used, the response returns payment information for the last 365 days. If the request was for a single payment ID, the `nextUri` and `previousUri` properties are not returned.\n\nPrivileges required: account administrator",
                "operationId": "BillingPayments_PostPayment",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "billingPaymentRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/billingPaymentRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingPaymentResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "makePayment"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_payments/{paymentId}": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Gets billing payment information for a specific payment.",
                "description": "Retrieves the information for a specified payment. \n\nPrivileges required: account administrator ",
                "operationId": "BillingPayments_GetPayment",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "paymentId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingPaymentItem"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getPayment"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_plan": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get Account Billing Plan",
                "description": "Retrieves the billing plan information for the specified account, including the current billing plan, successor plans, billing address, and billing credit card.\n\nBy default the successor plan and credit card information is included in the response. This information can be excluded from the response by adding the appropriate optional query string with the `setting` set to **false**. \n\nResponse\n\nThe response returns the billing plan information, including the currency code, for the plan. The `billingPlan` and `succesorPlans` property values are the same as those shown in the [ML:Get Billing Plan Details] reference. the `billingAddress` and `creditCardInformation` property values are the same as those shown in the [ML:Update Billing Plan] reference.\n\n###### Note: When credit card number information is shown, a mask is applied to the response so that only the last 4 digits of the card number are visible. ",
                "operationId": "BillingPlan_GetBillingPlan",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_credit_card_information",
                        "in": "query",
                        "description": "When set to **true**, excludes credit card information from the response.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_downgrade_information",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_metadata",
                        "in": "query",
                        "description": "When set to **true**, the `canUpgrade` and `renewalStatus` properities are included the response and an array of `supportedCountries` property is added to the `billingAddress` information. ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_successor_plans",
                        "in": "query",
                        "description": "When set to **true**, excludes successor information from the response.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_tax_exempt_id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/accountBillingPlanResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getPlan"
            },
            "put": {
                "tags": [
                    "Billing"
                ],
                "summary": "Updates the account billing plan.",
                "description": "Updates the billing plan information, billing address, and credit card information for the specified account.",
                "operationId": "BillingPlan_PutBillingPlan",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "preview_billing_plan",
                        "in": "query",
                        "description": "When set to **true**, updates the account using a preview billing plan.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "billingPlanInformation",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/billingPlanInformation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/billingPlanUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updatePlan"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_plan/credit_card": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Get metadata for a given credit card.",
                "operationId": "BillingPlan_GetCreditCardInfo",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/creditCardInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getCreditCardInfo",
                "description": "This method returns information about a credit card associated with an account."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_plan/downgrade": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Returns downgrade plan information for the specified account.",
                "operationId": "BillingPlan_GetDowngradeRequestBillingInfo",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/downgradRequestBillingInfoResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getDowngradeRequestBillingInfo",
                "description": ""
            },
            "put": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Queues downgrade billing plan request for an account.",
                "operationId": "BillingPlan_PutDowngradeAccountBillingPlan",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "downgradeBillingPlanInformation",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/downgradeBillingPlanInformation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/downgradePlanUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateDowngradeAccountBillingPlan",
                "description": ""
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/billing_plan/purchased_envelopes": {
            "put": {
                "tags": [
                    "Billing"
                ],
                "summary": "Reserverd: Purchase additional envelopes.",
                "description": "Reserved: At this time, this endpoint is limited to DocuSign internal use only. Completes the purchase of envelopes for your account. The actual purchase is done as part of an internal workflow interaction with an envelope vendor.",
                "operationId": "PurchasedEnvelopes_PutPurchasedEnvelopes",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "purchasedEnvelopesInformation",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/purchasedEnvelopesInformation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "purchaseEnvelopes"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Gets a list of brand profiles.",
                "description": "Retrieves the list of brand profiles associated with the account and the default brand profiles. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSend`)  must be set to **true** for the account to use this call.",
                "operationId": "Brands_GetBrands",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "exclude_distributor_brand",
                        "in": "query",
                        "description": "When set to **true**, excludes distributor brand information from the response set.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_logos",
                        "in": "query",
                        "description": "When set to **true**, returns the logos associated with the brand.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brandsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "listBrands"
            },
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Creates one or more brand profile files for the account.",
                "description": "Creates one or more brand profile files for the account. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSig`) must be set to **true** for the account to use this call.\n\nAn error is returned if `brandId` property for a brand profile is already set for the account. To upload a new version of an existing brand profile, you must delete the profile and then upload the newer version.\n\nWhen brand profile files are being uploaded, they must be combined into one zip file and the `Content-Type` must be `application/zip`.",
                "operationId": "Brands_PostBrands",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brand",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/brand"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brandsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createBrand"
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Deletes one or more brand profiles.",
                "description": "Deletes one or more brand profiles from an account. The Account Branding feature (accountSettings properties `canSelfBrandSend` and `canSelfBrandSend`) must be set to **true** to use this call.",
                "operationId": "Brands_DeleteBrands",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandsRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/brandsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brandsResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBrands"
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands/{brandId}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get information for a specific brand.",
                "operationId": "Brand_GetBrand",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "include_external_references",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include_logos",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brand"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBrand",
                "description": "This method returns details about an account brand.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Updates an existing brand.",
                "operationId": "Brand_PutBrand",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "replace_brand",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "brand",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/brand"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brand"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBrand",
                "description": "This method updates an account brand. \n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Removes a brand.",
                "operationId": "Brand_DeleteBrand",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBrand",
                "description": "This method deletes a brand from an account.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands/{brandId}/file": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Export a specific brand.",
                "operationId": "BrandExport_GetBrandExportFile",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBrandExportFile",
                "description": "This method exports information about a brand to an XML file.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands/{brandId}/logos/{logoType}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Obtains the specified image for a brand.",
                "operationId": "BrandLogo_GetBrandLogo",
                "consumes": [],
                "produces": [
                    "image/png"
                ],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logoType",
                        "in": "path",
                        "description": "One of **Primary**, **Secondary** or **Email**.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBrandLogoByType",
                "description": "This method returns a specific logo that is used in a brand.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Put one branding logo.",
                "operationId": "BrandLogo_PutBrandLogo",
                "consumes": [
                    "image/png"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logoType",
                        "in": "path",
                        "description": "One of **Primary**, **Secondary** or **Email**.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBrandLogoByType",
                "description": "This method updates a single brand logo.\n\nYou pass in the new version of the resource in the `Content-Disposition` header. Example:\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"logo.jpg\"`\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete one branding logo.",
                "operationId": "BrandLogo_DeleteBrandLogo",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "logoType",
                        "in": "path",
                        "description": "One of **Primary**, **Secondary** or **Email**.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBrandLogoByType",
                "description": "This method deletes a single logo from an account brand.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands/{brandId}/resources": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Returns the specified account's list of branding resources (metadata).",
                "operationId": "BrandResources_GetBrandResourcesList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brandResourcesList"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBrandResources",
                "description": "This method returns metadata about the branding resources that are associated with an account.\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/brands/{brandId}/resources/{resourceContentType}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Returns the specified branding resource file.",
                "operationId": "BrandResources_GetBrandResources",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceContentType",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "langcode",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "return_master",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBrandResourcesByContentType",
                "description": "This method returns a specific branding resource file.\n\nA brand uses a set of brand resource files to control the sending, signing, email message, and captive (embedded) signing experiences.  You can modify the default email messages and formats in these files and upload them to your brand to customize the user experience.\n\n**Important:** When you upload a modified resource file, only the elements that differ from the master resource file are saved as your resource file. Similarly, when you download your resource files, only the modified elements are included in the file. \n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**)."
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Uploads a branding resource file.",
                "operationId": "BrandResources_PutBrandResources",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The unique identifier of a brand.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceContentType",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The type of brand resource file that you are updating. Valid values are:\n\n- `sending`\n- `signing`\n- `email`\n- `signing_captive`"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/brandResources"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBrandResourcesByContentType",
                "description": "This method updates a branding resource file.\n\nYou pass in the new version of the resource file in the `Content-Disposition` header. Example:\n\n`Content-Disposition: form-data; name=\"file\"; filename=\"DocuSign_SigningResource_4328673.xml\"`\n\n**Note:** Branding for either signing or sending must be enabled for the account (`canSelfBrandSend` , `canSelfBrandSign`, or both of these account settings must be **true**).\n\n**Important:** Customizing resource files is an advanced branding configuration option which can significantly impact your account, and should be done only by someone with expertise in XML and HTML. The master resource files are subject to change without notice. If you customize your resource files, after each release, DocuSign recommends you review any changes and update your custom files as needed.\n\nWhen you upload a modified resource file, only the elements that differ from the master resource file are saved as your resource file. Similarly, when you download your resource files, only the modified elements are included in the file."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_process_data/actions/{processAction}": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Lists top-level details for all bulk process lists visible to the current user",
                "operationId": "BulkProcess_GetBulkProcessLists",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessingListSummaries"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkProcessLists",
                "description": ""
            },
            "post": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Uses the specified bulk envelopes list to update the envelopes specified in the payload",
                "operationId": "BulkProcess_PostBulkProcessRequest",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createBulkProcessRequest",
                "description": ""
            },
            "delete": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Deletes a specific bulk process list",
                "operationId": "BulkProcess_DeleteBulkProcessLists",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessingLists",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkProcessingLists"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessResult"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBulkProcessLists",
                "description": ""
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_process_data/actions/{processAction}/{bulkProcessListId}": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Gets a specific bulk process list",
                "operationId": "BulkProcess_GetBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkProcessList",
                "description": ""
            },
            "put": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Updates a specific bulk process list",
                "operationId": "BulkProcess_PutBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBulkProcessList",
                "description": ""
            },
            "post": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Uses the specified bulk envelopes list to update the envelopes specified in the payload",
                "operationId": "BulkProcess_PostBulkProcessRequestToQueue",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkProcessRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createBulkProcessRequestToQueue",
                "description": ""
            },
            "delete": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Deletes a specific bulk process list",
                "operationId": "BulkProcess_DeleteBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessResult"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBulkProcessList",
                "description": ""
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_process_data/actions/{processAction}/{bulkProcessListId}/send": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Gets a specific bulk process list",
                "operationId": "BulkProcess_Send_GetBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkProcessList",
                "description": ""
            },
            "put": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Updates a specific bulk process list",
                "operationId": "BulkProcess_Send_PutBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBulkProcessList",
                "description": ""
            },
            "post": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Uses the specified bulk envelopes list to update the envelopes specified in the payload",
                "operationId": "BulkProcess_Send_PostBulkProcessRequestToQueue",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkProcessRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessResponse"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "createBulkProcessRequestToQueue",
                "description": ""
            },
            "delete": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Deletes a specific bulk process list",
                "operationId": "BulkProcess_Send_DeleteBulkProcessList",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkProcessListId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "processAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkProcessResult"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "deleteBulkProcessList",
                "description": ""
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_send_batch": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Returns a list of bulk send batch satuses initiated by account.",
                "operationId": "BulkSendV2Batch_GetBulkSendBatches",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "batch_ids",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from_date",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_text",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_position",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to_date",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchSummaries"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkSendBatches",
                "description": "Returns a summary of bulk send batches.\n\nUse the `batch_ids` query parameter to narrow the list of batches."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Gets a specific bulk send batch status",
                "operationId": "BulkSendV2Batch_GetBulkSendBatchStatus",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchStatus"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkSendBatchStatus",
                "description": "Gets the general status of a specific bulk send batch such as:\n\n- number of successes\n- number pending\n- number of errors\n\nThe `bulkErrors` property of the response object contains more information about the errors.\n\n### Related topics\n\n- [How to bulk send envelopes](/docs/esign-rest-api/how-to/bulk-send-envelopes/)\n"
            },
            "put": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Put/Update a specific bulk send batch status",
                "operationId": "BulkSendV2Batch_PutBulkSendBatchStatus",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchStatus"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBulkSendBatchStatus",
                "description": "Updates a specific bulk send batch status."
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}/{bulkAction}": {
            "put": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Initiate a specific bulk send batch action",
                "operationId": "BulkSendV2Batch_PutBulkSendBatchAction",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkAction",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchActionRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchActionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/bulkSendBatchStatus"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "updateBulkSendBatchAction",
                "description": ""
            },
            "parameters": []
        },
        "/v2.1/accounts/{accountId}/bulk_send_batch/{bulkSendBatchId}/envelopes": {
            "get": {
                "tags": [
                    "Uncategorized"
                ],
                "summary": "Gets envelopes from a specific bulk send batch",
                "operationId": "BulkSendV2Envelopes_GetBulkSendBatchEnvelopes",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The external account number (int) or account ID Guid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bulkSendBatchId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search_text",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_position",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "schema": {
                            "$ref": "#/definitions/envelopesInformation"
                        }
                    },
                    "400": {
                        "description": "Error encountered.",
                        "schema": {
                            "$ref": "#/definitions/errorDetails"
                        }
                    }
                },
                "deprecated": false,
                "x-ds-methodname": "getBulkSendBatchEnvelopes",
[...]
